---
import { Globe } from './globe/Globe'
const selectedLocation = {
  name: 'London',
  lat: 51.5074,
  lon: -0.1278,
}
---

<section id='companies' class='my-[100px]'>
  <h2 class='text-6xl uppercase tracking-wide'>Operating Companies</h2>
  <Globe selectedLocation={selectedLocation} client:only='react' />
</section>
