---
import { Image } from 'astro:assets'
import placeholder from '../assets/companies-placeholder.png'
---

<section id='companies' class='my-[100px]'>
  <h2 class='text-6xl uppercase tracking-wide'>Operating Companies</h2>
  <Image src={placeholder} alt='placeholder' />
</section>
