---
import LocationSelector from './LocationSelector'
---

<section id='companies' class='my-[100px]'>
  <h2 class='text-4xl uppercase tracking-wide md:text-6xl'>
    Operating Companies
  </h2>

  <LocationSelector client:only='react' />
</section>
