---
import { Globe } from './globe/Globe'
import LocationSelector from './LocationSelector'
---

<section id='companies' class='my-[100px]'>
  <h2 class='text-6xl uppercase tracking-wide'>Operating Companies</h2>
  <LocationSelector client:only='react' />
</section>
