---
import LocationSelector from './LocationSelector'
---

<section id="companies" class="my-25 md:px-25 mx-auto max-w-[1440px] px-4">
  <h2 class="mb-[70px] text-4xl uppercase tracking-wide md:text-6xl">
    Operating Companies
  </h2>

  <LocationSelector client:only="react" />
</section>
