---
import LocationSelector from './LocationSelector'
---

<section
  id='companies'
  class='mx-auto mb-8 max-w-[1440px] md:my-25 md:px-12.5 xl:px-25'
>
  <h2
    class='mb-8 px-4 text-4xl uppercase tracking-wide md:mb-[70px] md:px-0 md:text-6xl'
  >
    Operating Companies
  </h2>

  <LocationSelector client:only='react'>
    <div slot='fallback' class='mx-auto w-full max-w-md p-4'>
      <div class='relative h-2 max-w-xl overflow-hidden rounded-full'>
        <div class='absolute h-full w-full bg-grey-light'></div>
        <div
          class='absolute h-full w-1/2 animate-[loading_1s_ease-in-out_infinite] bg-tan'
        >
        </div>
      </div>
    </div>
  </LocationSelector>
</section>
