<section id="impact" class="mx-auto w-full max-w-[1440px]">
  <div
    class="grid grid-rows-2 gap-[30px] py-20 md:py-[100px] lg:grid-cols-2 lg:grid-rows-1 2xl:mx-[50px]"
  >
    <div
      class="flex flex-col justify-between gap-5 rounded-3xl bg-white px-[30px] py-[25px] md:p-[50px]"
    >
      <h2
        class="mb-10 text-right text-4xl uppercase tracking-wide text-tan lg:text-6xl"
      >
        Impact
      </h2>
      <div class="space-y-5 text-xl text-black lg:text-3xl">
        <p>The Hartland & Mackie <br /> Family Foundation</p>
        <p>Janet Nash <br /> Charitable Foundation</p>
      </div>
    </div>
    <div
      class="text-normal rounded-3xl bg-tan-light px-[30px] py-[25px] leading-normal text-black md:p-[50px] lg:text-2xl"
    >
      <p>
        With our family foundations, we aim to maximize the potential of as many
        families and individuals as possible and provide them with the
        opportunity to thrive. We do this by focusing our efforts in the areas
        of poverty alleviation, children’s health, mental health, and community.
        We also invest in the visual arts to help provide universal access to
        the shared knowledge and creativity that comes from art exploration.
      </p>
    </div>
  </div>
</section>
