<section id="investments" class="2xl:px-25 mx-auto max-w-[1440px]">
  <div
    class="md:py-25 md:px-25 2xl:px-12.5 lg:gap-y-12.5 grid w-max gap-y-5 bg-tan px-10 py-20 lg:w-full lg:grid-cols-2 lg:grid-rows-[auto_1fr] 2xl:rounded-[30px]"
  >
    <h2 class="text-4xl uppercase tracking-wide md:text-6xl">Investments</h2>
    <p
      class="max-w-72 text-xl leading-normal text-black md:text-3xl lg:col-start-2 lg:row-start-2 lg:max-w-[600px] lg:place-self-center"
    >
      Labora Capital Partners aims to build a legacy that reflects our lifelong
      commitment to learn from, invest in, and partner with those who share our
      passion for growth and our guiding life principles. Our permanent capital
      base allows us to patiently and prudently invest across asset classes
      globally.
    </p>
  </div>
</section>
