<section id='investments' class='w-full bg-tan py-20 md:py-[100px]'>
  <div
    class='mx-auto grid w-max gap-y-5 lg:mx-auto lg:w-full lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-[50px]'
  >
    <h2 class='text-4xl uppercase tracking-wide md:text-6xl'>Investments</h2>
    <p
      class='max-w-72 text-xl leading-normal text-black md:text-3xl lg:col-start-2 lg:row-start-2 lg:max-w-[600px] lg:place-self-center'
    >
      We are long-term, strategic investors who collaborate with talented
      innovators and leaders. Our partners benefit from the resources of our
      global operating business, the expertise of our internal team, and the
      strength of our family values.
    </p>
  </div>
</section>
